
@model IEnumerable<coreUserPortal.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Products</h1>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">;
    @foreach (var item in Model)
    {
            <div class="col">
                <div class="card shadow-sm">
                    
                    <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="@item.ProductImage" />
                    <div class="card-body">
                        <p class="card-text"><b>@item.ProductName</b></p>
                        <p class="card-text">@item.ProductDesc</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.ProductId">View Details</a>
                                <a class="btn btn-sm btn-outline-secondary" asp-controller="Cart" asp-action="Buy" asp-route-id="@item.ProductId">Add to Cart</a>
                            </div>
                            <small class="text-muted">Availlable: @item.ProductAvailability</small>
                        </div>
                    </div>
                </div>
            </div> 
    }
</div>